# Settings FastAPI
APP_NAME="WhatsApp Quiz Engine"
PORT=8000
# own generated, via 'openssl rand -hex 16'
SECRET_KEY=

# WhatsApp Cloud API credentials
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
# own generated token, via 'openssl rand -hex 16'
VERIFY_TOKEN=

# Redis Config
REDIS_HOST=redis
REDIS_PORT=6379

# Email Config (Example for Gmail with App Password)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your_email@gmail.com"
SMTP_PASSWORD="your_16_digit_app_password"
NOTIFICATION_EMAIL="manager_email@gmail.com"

# HubSpot Config
HUBSPOT_ACCESS_TOKEN=

# Integrations
ENABLE_EMAIL_NOTIFICATIONS=true
ENABLE_HUBSPOT_SYNC=true